<div class="container-fluid footer-site">
	<div class="row">
		<div class="container">
	    <blockquote class="blockquote mb-0">
	      <footer class="blockquote-footer">Copyright © 2019 <cite title="Source Title">Jiovan Michel da Silva.</cite> Todos os direitos reservados</footer>
	    </blockquote>
		</div>
	</div>
</div>